<li
  class="synth-key {{if isActive (concat "synth-key--" @key.color "--active")}} {{if @key.indent "synth-key--indent"}} synth-key--{{@key.color}}"
  onmousedown={{action start}}
  onmouseup={{action stop}}
  onmouseout={{action stop}}
  title={{concat keyName " (" @key.shortcut ")"}}>
  <span class="synth-key__help">
    {{#if @showTip}}
      {{@key.shortcut}}
    {{/if}}
  </span>
</li>
